<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Sham timeline</h1>

<%= link_to new_picture_path do %>
  Upload new sham!
<% end %>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= link_to picture_path(picture.id) do %>
        <%= picture.title %>
        <%= image_tag picture.image if picture.image.attached? %>
        <% if picture.comments.length == 1 %>
          <%= picture.comments.length%> comment
        <% else %>
          <%= picture.comments.length%> comments
        <% end %>  
      <% end %>
    </li>
  <% end %>
</ul>