<h1>New Picture</h1>

<%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.errors.count, "error") %> prohibited
        this picture from being saved:
      </h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to pictures_path do %>
  Back to timeline
<% end %>