<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
 
<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image if @picture.image.attached? %>
</p>

<p>
  <%= button_to 'Delete pic', picture_path(@picture),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>

<h2>Comments</h2>
<% @picture.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>
    <%= comment.author %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @picture, @picture.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to pictures_path do %>
  Back to timeline
<% end %>